* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    margin: 0 auto;
    width: 1200px;
}
header{
    background-size: cover;
    color: #fff;
    background-image: url(HeaderMM1.png);
    height: 100vh;
    position: relative;
}
.header-container{
    left: 50%;
    top: 50%;
    width: 1200px;
    position: absolute;
    transform: translate(-50%, -50%);
}
body{
    font-family: "Rototan", sans-serif;
    color: #444;
} 
nav {
    display: flex;
    font-size: 20px;
    font-weight: 700;
    justify-content: space-between;
    padding-top: 32px;
}
.header-container-inner {
    width: 50%;
}
h1 {
    margin-bottom: 32px;
    line-height: 1.05;
    font-size: 52px;
}
  
p {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 8px;
    color: black;
}
.btn:link {
    background-color: chocolate;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    font-weight: 600;
    padding: 16px 32px;
    border-radius: 10px;
}
h2 {
    font-size: 44px;
    margin-bottom: 48px;
    color: gray;
}
  
section {
    padding: 96px 0;
    background-color: #fff;
}